<div class="col-xs-9 mainBody">
  <h1>Search Users' Collections</h1>
  <form action="/collection/browse" method="POST">
    <select class="selectpicker" data-style="btn-info" name="selectpicker">
      <% result.forEach(function(result) {%>
        <option name="userId" value="<%= result.id %>"><%= result.profileName %></option>
      <% });%>
    </select>
    <input type="submit" />
  </form>
  <% if (userCollection) { %>
    <div>ITS TRUE</div>
  <% } %>



</div>
<div class="col-xs-3 sidebar">
  <h2>Instructions:</h2>
  <p>To get up to the minute prices, press Update Price. </br>To Remove a card from your trade collection, hit Delete</p>
  <p>Collection Value: <span class="value">priceSum</span></p>
</div>
