<% result.forEach(function(result) {%>
  <div class="well">
    <div class="cardDisplay">
      <img src="<%= result.img %>">
    </div>
    <div class="cardDisplay">
      <h2 class="capitalize"><%= result.cardName %></h2>
      <p>Set Name: <%= result.setId%></p>
      <p>Rarity: <%= result.rarity %></p>
    </div>
    <div class="prices">
      <button>GetPrices</button>
    </div>
  </div>
   <% });%>
