<div class="container" id="header">
  <h1 class="col-xs-6">Treasure Cruiser</h1>
  <nav>
    <ul id="nav-head" class="col-xs-6">
      <li><form action="/search/result" method="POST">
  <div class="form-group">
    <div class="search">
      <span class="fa fa-search"></span>
      <input id="name" class="form-control" type="text" name="name" placeholder="Search Card">
    </div>
    <input class="btn btn-primary hidden" type="submit">
  </div>
</form></li>
      <li><a href="/collection">Collection</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  </div>
