<div class="container" id="header">
  <div class="col-xs-4">
    <h1 class="title">Treasure Cruiser</h1>
  </div>
  <nav>
    <ul id="nav-head" class="col-xs-8">
      <li class="navSearch"><form action="/search/result" method="POST">
            <div class="form-group">
              <div class="search">
              <span class="fa fa-search"></span>
              <input id="name" class="form-control" type="text" name="name" placeholder="Search Card">
              </div>
              <input class="btn btn-primary hidden" type="submit">
            </div>
          </form></li>
      <li class="index"><a href="/collection">Collection</a></li>
      <li class="index"><a href="/">Home</a></li>
      <li class="index" ><a href="/trade">Trade</a>
      <li class="index"><a href="/auth/signup">Signup</a></li>
      <li class="index" id="login"><a href="/auth/login">Login</a></li>
      <li class="index"><a href="/auth/logout">Logout</a></li>
      <li class="index"><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  </div>
