<div class="container" id="header">
  <h1 class="col-xs-6">Treasure Cruiser</h1>
  <nav>
    <ul id="nav-head" class="col-xs-6">
      <li><a href="/collection">Collection</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  </div>
