<div class="col-xs-9 mainBody">
  <h2>My Trades</h2>
  <table class="ledger">
    <thead>
      <th>Card Name</th>
      <th>Price</th>
      <th></th>
    </thead>
    <tbody>
      <% result.forEach(function(result) {%>
      <tr>
        <td class="cardId"><%= result.cardName %></td>
        <td class="price">$<%= result.price %></td>
        <td><a href="/trade/<%=result.id%>" type="submit" class="btn btn-danger noTrade">-</a></td>

      </tr>
      <% });%>
    </tbody>
  </table>

  <table class="balance">
    <tr class="bottomRow">
      <th>Trade Value</th>
      <th><%= priceSum %></th>
      <th><button type="submit">EXECUTE TRADE</button></th>
    </tr>
  </table>
</div>
<div class="col-xs-3 sidebar">
  <h2>How to Trade:</h2>
  <p>Go to your collection to add cards to trade. We'll keep track of the value as you go.<br>
    Remove a card from your trade by hitting the red button. <br>
    Execute the trade and remove cards from your collection.
  </p>
</div>


