<div class="col-xs-9 mainBody">
  <h2>My Trades</h2>
  <table class="ledger">
    <thead>
      <th class="firstColumn">Card Name</th>
      <th class="secondColumn">Price</th>
      <th class="thirdColumn"></th>
    </thead>
    <tbody>
      <% result.forEach(function(result) {%>
      <tr>
        <td class="cardId firstColumn"><%= result.cardName %></td>
        <td class="price secondColumn">$<%= result.price %></td>
        <td class="thirdColumn"><a href="/trade/<%=result.id%>" type="submit" class="btn btn-danger noTrade">-</a></td>

      </tr>
      <% });%>
    </tbody>
  </table>

  <table class="balance">
    <tr class="bottomRow">
      <th class="firstColumn">Trade Value</th>
      <th class="secondColumn"><%= priceSum %></th>
      <th class="thirdColumn"><a href="/trade/farge/execute" type="submit" class="btn btn-success execute">EXECUTE TRADE</a></th>
    </tr>
  </table>
</div>
<div class="col-xs-3 sidebar">
  <h2>How to Trade:</h2>
  <p>Go to your collection to add cards to trade. We'll keep track of the value as you go.<br>
    Remove a card from your trade by hitting the <span class="red">red</span> button. <br>
    <span class="green">Execute</span> the trade and remove cards from your collection.
  </p>
</div>


