<div class="mainBody">
  <h2>Justen Cracraft</h2>
  <p>Justen is a full-stack developer residing in Seattle, WA. He spends most of his free time playing Magic The Gathering so he figured he should start making apps that he can use with his favorite hobby. This is the first of those apps. <br> Find me Here:</p>
  <ul id="aboutList">
    <li><i class="fa fa-envelope"></i><a href="mailto:justecii@gmail.com"> justecii@gmail.com</a></li>
    <li><i class="fa fa-github"></i><a href="https://github.com/justecii"> Github</a></li>
    <li><i class="fa fa-linkedin"></i><a href=""> LinkedIn</a></li>
  </ul>

</div>
