<div>
  <div class="col-xs-8">
    <h1>My Trades</h1>
    <div>
      <select class="form-control">
        <option>Select Card to Trade</option>
      <% results.forEach(function(results){ %>
        <option class="trades"><%= results.cardName %></option>
      <% }) %>
      </select>
      <button class="add">+</button>
    </div>
  </div>
  <div class="col-xs-4">
    <h2>How to Cruise</h2>
    <p>information about how to use the site goes here dawg</p>
  </div>
</div>




