
<h1>My Trades</h1>
<div>
  <select class="form-control">
  <% results.forEach(function(results){ %>
    <option class="trades"><%= results.cardName %></option>
  <% }) %>
  </select>
  <button>Add</button>
</div>
<div>
  <select class="form-control">
  <% results.forEach(function(results){ %>
    <option><%= results.cardName %></option>
  <% }) %>
  </select>
  <button>Add</button>
</div>


