<div class="mainBody">
  <div class="col-xs-12 intro centered">
    <h2 class="title">Treasure Cruiser</h2>
    <p>Track your Magic the Gathering collection online and trade with other users quickly</p>
  </div>
  <div class="col-xs-12">
    <h2 class="subtitle">How to Cruise</h2>
    <p>Begin Cruising by Logging in or Creating a new profile. <br>
    From there you can search for cards and start adding them to your collection. <br>
    Click on your collection to see your collection value and what cards you'd like to trade. <br>
    Trades are easy, once you've begun adding cards, We'll calculate the values for you so that you can make fair trades easily.</p>
  </div>
</div>




