body {
    background-image: url("/img/treasure-cruise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(233, 205, 12);
    font-family: 'Ubuntu', sans-serif;
}

#title {
    font-family: 'Germania One', cursive;
    font-size: 3em;
}

#name {
    font-size: 1em;
}

select {
    max-width: 50%;
}

#header {
    margin-bottom: 10px;
    background-color: rgb(36, 35, 128);
    color: rgb(233, 205, 12);
    width: 100%;
}

#nav-head {
    list-style: none;
    display: inline;
    text-decoration: none;
}

#nav-head li {
    display: inline-block;
}

#nav-head a {
    color: rgb(233, 205, 12);
}

.cardDisplay {
    display: inline-block;
    margin-right: 10px;
}

.cardThumb {
    height: 150px;
    vertical-align: bottom;
}

.well {
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border: none;
}

.mainBody {
    background-color: rgba(121, 140, 12, 0.5);
    height: 700px;
    overflow: auto;
    color: white;
}

.getPrice {
    background-color: #3535F3;
    color: gold;
}

.search {
    position: relative;
}

.search .fa-search {
    position: absolute;
    top: 4px;
    left: 88%;
    font-size: 20px;
    color: blue;
}

.add {
    background-color: #0CB80C;
    color: white;
}

.update {
    background-color: blue;
}

.remove {
    background-color: red;
}

.buttons {
    display: inline;
    margin: 0 auto;
}

.value {
    font-size: 2em;
}

.mainBody::-webkit-scrollbar {
    width: 1em;
}

.sidebar {
    color: rgba(233, 205, 12, 1)
}

.balance {
    border-top: 1px solid black;
    width: 400px;
    position: absolute;
    bottom: 150px;
}

.ledger {
    width: 400px;
}

.bottomRow th {
    padding-top: 20px;
}

.fp {
    font-size: 10px;
    color: white;
}

#footer ul {
    list-style: none;
}