body {
    background-image: url("/img/treasure-cruise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: gold;
}

#name {
    font-size: 1em;
}

select {
    max-width: 50%;
}

#header {
    margin-bottom: 10px;
    background-color: #EBCC34;
    color: blue;
}

#nav-head {
    list-style: none;
    display: inline;
    text-decoration: none;
}

#nav-head li {
    color: red;
    display: inline-block;
}

.cardDisplay {
    display: inline-block;
    margin-right: 10px;
}

.cardThumb {
    height: 150px;
}

.welp {
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border-bottom: 1px solid blue;
}

.mainBody {
    background-color: rgba(121, 140, 12, 0.5);
}

.getPrice {
    background-color: #3535F3;
    color: gold;
}

.search {
    position: relative;
}

.search .fa-search {
    position: absolute;
    top: 4px;
    left: 88%;
    font-size: 20px;
    color: blue;
}

.add {
    background-color: #0CB80C;
    color: white;
}

.update {
    background-color: blue;
}

.remove {
    background-color: red;
}

.buttons {
    display: inline;
    margin: 0 auto;
}

.value {
    font-size: 2em;
}