body {
    background-image: url("/img/treasure-cruise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100%;
}

.title {
    font-family: 'Germania One', cursive;
    font-size: 4em;
    color: rgba(233, 205, 12, 1);
}

.intro {
    margin: 50px 0px;
}

.centered {
    text-align: center;
}

.subtitle {
    font-family: 'Germania One', cursive;
    font-size: 2em;
    color: rgba(233, 205, 12, 1);
}

#name {
    font-size: 1em;
}

select {
    max-width: 50%;
}

#header {
    margin-bottom: 10px;
    background-color: rgb(36, 35, 128);
    color: rgb(233, 205, 12);
    width: 100%;
}

#nav-head {
    list-style: none;
    display: inline;
    text-decoration: none;
    padding: 0px;
    margin: none;
    text-align: right;
}

#nav-head.navSearch {
    width: 20%
}

#nav-head li {
    display: inline-block;
}

#nav-head a {
    color: rgb(233, 205, 12);
}

#nav-head li.index {
    width: 10%;
    text-align: right;
}

.cardDisplay {
    display: inline-block;
    margin-right: 10px;
    width: 30%;
    vertical-align: top;
}

.cardThumb {
    height: 200px;
    vertical-align: bottom;
}

.well {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px;
}

.mainBody {
    background-color: rgba(183, 117, 27, 0.5);
    height: 700px;
    overflow: auto;
    color: white;
    border-radius: 10px;
}

.getPrice {
    background-color: #3535F3;
    color: gold;
}

.search {
    position: relative;
}

.search .fa-search {
    position: absolute;
    top: 4px;
    left: 88%;
    font-size: 20px;
    color: blue;
}

.add {
    background-color: #0CB80C;
    color: white;
}

.btn-group-vertical {
    vertical-align: top;
    text-align: right;
}

.clickables {
    width: 140px;
    margin: 5px 0px;
}

.value {
    font-size: 2em;
}

.capitalized {
    text-transform: capitalize;
}

.mainBody::-webkit-scrollbar {
    width: 1em;
}

.sidebar {
    color: rgba(233, 205, 12, 1)
}

.balance {
    border-top: 1px solid black;
    width: 400px;
    position: absolute;
    bottom: 150px;
}

.ledger {
    width: 400px;
}

.bottomRow th {
    padding-top: 20px;
}

.fp {
    font-size: 10px;
    color: white;
}

#footer {
    background-color: rgba(233, 205, 12, 0.8);
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer ul {
    list-style: none;
}