<div class="mainBody">
  <form action="/search/result" method="POST">
    <div class="form-group searchBar">
      <label for="name">Card Name</label>
      <input id="name" class="form-control" type="text" name="name" placeholder="Search Card">
      <input class="btn btn-primary fa-search" type="submit">
    </div>
  </form>
</div>
